/* Comentários no Css */
body {
    /* Cor de Fundo do site inteiro */
    background-color: lightblue;
}

/* Altera propriedades do h1 */
h1, h2 {
    /* Cor do texto */
    color:white;

    /* Alinha no centro */
    text-align: center;

}

p {
    /* Fonte */
    font-family: verdana;

    /* Tamanho do texto */
    font-size: 25px;
}

#teste {
    color:blueviolet;
    font-size: 15px;
}

.direita {
    text-align:right;
}

/* Altera todo elemento html (prioridade baixa) */
* {
    font-family: sans-serif;
}