/* Comentários no CSS */
body {
    /* Cor de Fundo do site inteiro */
    background-color: lightblue;
}

/* Altera propriedades do h1 e h2 */
h1, h2 {
    /* Cor do texto */
    color:white;

    /* Alinha no centro */
    text-align: center;

}

div.um {
    background-color: darkorange;
}

p {
    /* Fonte */
    font-family: verdana;

    /* Tamanho do texto */
    font-size: 25px;
}

/* Somente os p da classe center serão afetados */
p.center {
    text-align: center;
    color: red;
  }

#teste {
    color:blueviolet;
    font-size: 15px;
}

.direita {
    text-align:right;
}

/* Altera todo elemento html (prioridade baixa) */
* {
    font-family: sans-serif;
}