/* Comentários no CSS */
body {
    /* Cor de Fundo do site inteiro */
    background-color: lightblue;
}

/* Altera propriedades do h1 e h2 */
h1, h2 {
    /* Cor do texto */
    color:tomato;

    /* Alinhamento */
    text-align: center;

    /* Fonte */
    font-family:'Times New Roman', Times, serif;

    /* Tamanho do texto */
    font-size: 25px;

    /* fundo */
    background-color:#8B0000;
    
    /* borda */
    border:10px solid blue;

}

/* Classes */
.direita {
    text-align:right;
}

/* div com a classe "um" */
div.um {
    background-color: rgba(210, 105, 30, 1);

    /* Largura */
    width: 600px;

    /* Altura */
    Height:80px;

    /* Tamanho máximo (ele diminui se a janela for pequena demais */
    max-width: 600px;
}


/* Somente os p da classe center serão afetados */
p.center {
    text-align: center;
  }

#teste {
    color:hsla(94, 46%, 41%, 0.375);
    font-size: 20px;
}



/* Altera todo elemento html (prioridade baixa) */
* {
    font-family: sans-serif;
}