body {
    background-image:url("images/girafa.jpg");

}

/*
background-color:;

background-repeat:;
background-attachment:;
background-position:;

Exemplos:

background-color:rgba(255, 99, 71, 1);
background-image:;
background-repeat:;
background-attachment:;
background-position:;
*/




